@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.googlesans { font-family: 'Google Sans', sans-serif; }

.page-link{
  background-color: #fff;
  border-color: lightgrey;
  color: black;
  box-shadow: none;
}

.page-link:hover,
.page-link:focus {
  border-color: lightgray;
  box-shadow: none;
}

.tds {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 780px; /* adjust the value as needed */
}
